body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: radial-gradient(circle at 10% 20%, rgba(216, 241, 230, 0.46) 0.1%, rgba(233, 226, 226, 0.28) 90.1%);
}



h1 {
    color: #383791;
    font-size: 36px;
    font-weight: 100;
    line-height: 28px;
    padding-bottom: 20px;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    margin: 0;
    padding: 0;
    color:#4e4cab;
    font-size: 14px;
    font-weight: 100;
    line-height: 19px;
}

li:first-letter {
    text-transform: capitalize;
}
.weather-app-wrapper {
    max-width: 600px;
    margin: 30 auto;
}

.weather-app {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 3px solid #a4c3e2;
    border-radius: 10px;
    background: linear-gradient(120deg, #ebd9fc 0%, #9acafa 100%);
}

.overview {
    margin-bottom: 10px;
}

.weather-temperature img {
    margin-right: 10px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong {
    color: rgb(33,33, 33);
    font-size: 64px;
    line-height: 65px;
    font-weight: 400px;
    
}
.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
}

.weather-temperature .active {
    color: rgb(33, 33, 33);
    cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

.weather-forcast {
    margin-top: 20px;
    text-align: center;
    color: #000;
}

.weather-forcast-date{
    font-size: 16px;
    opacity: 0.5;
}

.weather-forcast-temperatures-min {
    opacity: 0.5;
}

.weather-forecast-temperatures {
    font-size: 11px;

}

.time {
    list-style: none;
        margin: 0;
        padding: 0;
        color: rgb(120, 77, 129);
        font-size: 12px;
        font-weight: 100;
        line-height: 19px;
}